.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 50px;
    background-color: antiquewhite;
    border-radius: 5%;
    margin: auto;
}
.sinistra{
    margin-right: 20px;
}
.foto{
    width: 150px;
    border-radius: 10%;
}
